bin/
obj/
/packages/
**/bin/
**/obj/

.idea/
.vs/
/_ReSharper.Caches/
riderModule.iml
*.user
*.suo
*.rsuser
*.DotSettings.user

*.log
*.zip
*.nupkg
TestResults/
coverage/
*.coverage
*.coveragexml

Thunderstore/*_v*/
.tmp_*/
.tmp_*
tmp_*/
tmp_*
temp_*

